<h1>Formulário de Cadastro</h1>
<form method="POST" #frm="ngForm" (ngSubmit)="cadastrar(frm)">
  <div>
    <label for="name">Nome</label>
    <input type="text" name="name" [(ngModel)]="contato.name" required />
  </div>
  <div>
    <label for="phone">Telefone</label>
    <input type="text" name="phone" [(ngModel)]="contato.phone" required />
  </div>
  <div>
    <label for="age">Idade</label>
    <input type="number" name="age" [(ngModel)]="contato.age" required />
  </div>
  <div>
    <button type="submit" [disabled]="frm.invalid">Cadastrar</button>
  </div>
</form>
