<mat-toolbar>
  <mat-toolbar-row>
    <span class="title">Formulário de Cadastro</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="form">
  <form method="POST" #frm="ngForm" (ngSubmit)="cadastrar(frm)">
    <div class="inputName">
      <label for="name" style="margin-right: 15px;">Nome</label>
      <input type="text" name="name" [(ngModel)]="contato.name" required />
    </div>
    <div class="inputPhone">
      <label for="phone" style="margin-right: 15px;">Telefone</label>
      <input type="text" name="phone" [(ngModel)]="contato.phone" required />
    </div>
    <div class="inputAge">
      <label for="age" style="margin-right: 15px;">Idade</label>
      <input
        type="number"
        name="age"
        [(ngModel)]="contato.age"
        required
        maxlength="3"
      />
    </div>
    <div class="btnForm">
      <button
        type="submit"
        [disabled]="frm.invalid"
        style="padding: 8px 8px; margin-right: 55px;"
      >
        Cadastrar
      </button>
      <button routerLink="/" style="padding: 8px 8px;">Cancelar</button>
    </div>
  </form>
</div>
