.title {
  font-size: 25px;
}

.form {
  margin-top: 50px;
}

.inputName {
  padding: 25px 25px;
}

.inputPhone {
  padding: 25px 25px;
}

.inputAge {
  padding: 25px 25px;
  margin-bottom: 50px;
}

.btnForm {
  display: inline;
  margin-left: 55px;
}
